h1{
    background-color: blue ;width: 400px;
}
p{

    background-color: purple;
    
}
section{
    background-color: tomato; width: 250px;
}

body{
    background-color: yellow;
}

hr{

    color: red;
}