div{
    background-color: coral;
}

.box1{
    color: cornflowerblue;
}

#headline{
    color: darkblue;
}

h2{
    
    color: teal;
}
#editor-write{
    color:purple;
}

.main-headline{
    color: tomato;
}

